body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 1em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    font-size: 2em;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #e0e0e0;
}

.cell.x {
    color: #007bff;
}

.cell.o {
    color: #ff5733;
}

.score.player1 h2,
.score.player1 p {
    color: #007bff;
}

.score.player2 h2,
.score.player2 p {
    color: #ff5733;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.score {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.score h2 {
    margin: 0;
    color: #333;
}

.score p {
    font-size: 1.5em;
    margin: 5px 0 0;
    color: #333;
}

.result {
    margin-top: 20px;
    color: #333;
}

#reset-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#reset-btn:hover {
    background-color: #0056b3;
}

.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.lobby input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.lobby button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.lobby button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    color: red;
}
